* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Potta One', cursive;
    background-color: #FFC0CB;
}

.site {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.container_header {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-top: 30px;
}

.header_title {
    color: #8B00FF;
}

.nav {
    text-align: right;
}

.nav ul li{
    display: inline-block;
    margin: 5px 15px;
}

.nav ul li a {
    text-decoration: none;
    color:#A52A2A;
}

.nav ul li a:hover {
   color: #8B00FF;
}

.main {
    min-height: 100vh;
}

.title h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
}

.content p {
    margin-top: 100px;
    font-size: 25px;
}


.footer {
    color: #8B00FF;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}
